:root {
    --bg-page: rgb(31, 31, 31);
    --bg-frost: rgba(38, 38, 40, .6);
    --bg-frost-thick: rgba(40, 40, 40, .7);
    --bg-frost-thin: rgba(40, 40, 40, .5);
    --bg-bar-fade: rgba(31, 31, 31, .8);
    --shadow-frost: rgba(0, 0, 0, .2);
    --selected-frost: rgba(255, 255, 255, 0.08);
    --modal-radius: 16px;
    --border-frost: 0.5px solid rgba(255, 255, 255, 0.2);
    --button-transition: outline-offset 0.1s ease-in 0s,
        background-color 0.1s ease-in 0s;
}

body {
    background-color: var(--bg-page);
}

.pagination.btn-group,
.btn-toolbar>.btn-group,
.btn-toolbar>.list-operations>.btn-group {
    width: fit-content;
    padding: var(--button-container-padding, 1px);

    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    box-shadow: 0 10px 40px var(--shadow-frost);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        pointer-events: none;

        background-color: var(--bg-frost);
        backdrop-filter: blur(16px) saturate(220%);
    }

    button {
        border-radius: 999px !important;
        border-color: transparent;
        box-shadow: none !important;

        padding: 0.5rem 1rem !important;

        &:has(> svg) {
            padding: 0.5rem 0.75rem !important;
        }

        background-color: transparent;

        transition: var(--button-transition) !important;
        outline-offset: 2px;

        &:not(:disabled):not(.disabled):hover,
        &:not(:disabled):not(.disabled):focus {
            outline: 0.5px solid rgba(255, 255, 255, 0.2);
            outline-offset: 4px;
            background-color: rgba(138, 155, 168, .15);
        }

        &:not(:disabled):not(.disabled):active {
            outline-offset: 6px !important;
            background-color: rgba(138, 155, 168, .3) !important;
        }

        &.btn-danger {
            color: var(--danger, #db3737);
        }
    }

    .btn.active:not(:disabled):not(.disabled) {
        background-color: var(--selected-frost);
        border-color: transparent;
    }
}

.btn-toolbar>.zoom-slider-container {
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    box-shadow: 0 10px 40px var(--shadow-frost);
    background-color: var(--bg-frost);
    backdrop-filter: blur(16px) saturate(220%);

    padding: 0 1rem;

    input {
        border: 1px solid transparent;
        height: calc(1.5em + 0.5rem * 2 + var(--button-container-padding, 1px) * 2);
    }
}

.btn-toolbar>.page-size-selector {
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    box-shadow: 0 10px 40px var(--shadow-frost);

    &>select {
        box-shadow: none !important;
        border-color: transparent !important;
        border-radius: 999px;
        height: calc(1.5em + 0.5rem * 2 + var(--button-container-padding, 1px) * 2 + 4px / 3);
        background-color: var(--bg-frost) !important;
    }

    transition: var(--button-transition) !important;
    outline-offset: 2px;

    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus {
        outline: 0.5px solid rgba(255, 255, 255, 0.2);
        outline-offset: 4px;
        background-color: rgba(138, 155, 168, .15);
    }

    &:not(:disabled):not(.disabled):active {
        outline-offset: 6px !important;
        background-color: rgba(138, 155, 168, .3) !important;
    }
}

.detail-body .filtered-list-toolbar.has-selection {
    top: 48.75px;
}

.detail-header.full-width {
    background-color: var(--bg-page);
}

.detail-header.sticky {
    display: none !important;
}

.popover {
    background-color: var(--bg-frost-thick);
    backdrop-filter: saturate(220%) blur(60px);

    .arrow::before,
    .arrow::after {
        border-color: transparent;
    }
}

div.react-select__menu,
div.dropdown-menu {
    background-color: var(--bg-frost-thick) !important;
    backdrop-filter: saturate(220%) blur(60px);

    &>.bg-secondary {
        background-color: transparent !important;

        &:hover {
            background-color: var(--selected-frost) !important;
        }
    }
}

input:not(.react-select__input):not(.zoom-slider),
textarea {
    border: 0.5px solid rgba(255, 255, 255, 0.1) !important;
}

.clearable-text-field,
.clearable-text-field:active,
.clearable-text-field:focus {
    background-color: rgba(16, 22, 26, .3);
}

.main :not(.btn-group)> :not(.rating-stars):not(.count-button)>.btn:not(:has(> svg:first-child:last-child)) {
    padding: 0.375rem 1.5rem;
    border-radius: 0.375rem;
}

.modal-header {
    border-radius: var(--modal-radius) var(--modal-radius) 0 0;
}

.modal-footer {
    border-radius: 0 0 var(--modal-radius) var(--modal-radius);
}

.filtered-list-toolbar {
    background-color: transparent;
}

.detail-body nav {
    border-bottom: none;
}

.selected-items-info {
    background-color: var(--bg-frost-thick) !important;
    backdrop-filter: saturate(220%) blur(60px);
}