nav.top-nav {
    background: linear-gradient(to bottom, transparent, var(--bg-bar-fade)) !important;
    justify-content: space-between;
}

@media (min-width: 576px) {
    nav.top-nav {
        background: linear-gradient(to top, transparent, var(--bg-bar-fade)) !important;
        height: unset;
        padding: 0.5rem 1rem;
    }
}

nav.top-nav> :first-child {
    border: var(--border-frost);
    border-radius: 4px;

    backdrop-filter: blur(16px) saturate(220%);
    background-color: var(--bg-frost) !important;
    box-shadow: 0 10px 40px var(--shadow-frost);

    margin-top: 7px;
}

@media (min-width: 1200px) {
    nav.top-nav> :first-child {
        flex-grow: revert;
        margin-top: revert;

        @media (min-width: 1300px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        border-radius: 999px;

        div {
            padding: var(--button-container-padding, 1px) !important;
        }

        a,
        .main-nav-menu-item {
            border-radius: 999px;
            padding: 0.5rem 1.5rem !important;
            box-shadow: none !important;
            color: #f5f8fa;

            svg {
                display: none !important;
            }

            &.active {
                background-color: var(--selected-frost);
            }

            &:not(.active) {
                filter: brightness(0.9);
            }
        }
    }
}

@media (min-width: 1200px) {
    nav.top-nav {
        .btn {
            transition: var(--button-transition) !important;
            outline-offset: 2px;
        }

        .btn:not(:disabled):not(.disabled):hover,
        :not(.active)>.btn:not(:disabled):not(.disabled):not(.active):focus {
            filter: none !important;
            outline: 0.5px solid rgba(255, 255, 255, 0.2);
            outline-offset: 4px;
            background-color: rgba(138, 155, 168, .15);
        }

        .btn:not(:disabled):not(.disabled):active {
            outline-offset: 6px !important;
            background-color: rgba(138, 155, 168, .3) !important;
        }
    }
}

.navbar-buttons>:not(.nav-menu-toggle):not(.utility-buttons) {
    a:hover {
        text-decoration: none;
    }

    button {
        font-weight: 500;
        padding: calc(0.75rem + var(--button-container-padding, 1px)) 1.5rem !important;

        backdrop-filter: blur(16px) saturate(220%);
        background-color: var(--bg-frost) !important;
        box-shadow: 0 10px 40px var(--shadow-frost) !important;
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        border-radius: 999px;

        transition: background-color 0.2s ease-in-out 0s;

        &:hover,
        &:active {
            background-color: color-mix(in srgb, var(--bg-frost), var(--selected-frost)) !important;
        }
    }

    :not(a:first-child:last-child)>button {
        padding: 0.75rem 1.5rem !important;
    }

    & .btn-primary {
        color: #48aff0;
    }
}

.nav-menu-toggle {
    border-radius: 999px;
    padding: 1rem !important;
    width: unset !important;

    backdrop-filter: blur(16px) saturate(220%);
    background-color: var(--bg-frost) !important;
    box-shadow: 0 10px 40px var(--shadow-frost);

    transition: background-color 0.2s ease-in-out 0s;

    &:hover,
    &:active {
        background-color: color-mix(in srgb, var(--bg-frost), var(--selected-frost)) !important;
    }
}

.utility-buttons {
    display: flex;
    padding: var(--button-container-padding, 1px);

    &> :first-child {
        padding: 0 !important;

        svg {
            margin: 0 !important;
        }

        span {
            display: none !important;
        }
    }

    button {
        border-radius: 999px;
        box-shadow: none !important;
        padding: 1rem !important;
    }

    .active>button {
        background-color: var(--selected-frost);
    }
}

@media (min-width: 576px) {
    .utility-buttons {
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        border-radius: 999px;

        backdrop-filter: blur(16px) saturate(220%);
        background-color: var(--bg-frost) !important;
        box-shadow: 0 10px 40px var(--shadow-frost);
    }
}